<header th:fragment="menu">
	<div class="boxSiteName">
	    <div class="site">
	        <h1><a th:href="@{/}">HyungKu Im's HomePage</a></h1>
			<p th:if="${session.loginMember}"><a th:href="@{/logout}">logout</a></p>
			<p th:unless="${session.loginMember}"><a th:href="@{/login}">login</a></p>
	    </div>
	</div>
	
	<div class="boxNav">
	    <nav class="menu">
	        <ul>
	            <li><a th:href="@{/}">Home</a></li>
	            <li><a th:href="@{/intro}">Intro</a></li>
	            <li><a th:href="@{/gissing}">Gissing</a></li>
	            <li><a th:href="@{/japanese}">Japanese</a></li>
	            <li><a th:href="@{/guestbook}">남기실 글</a></li>
				<li><a th:href="@{/jusorok}">주소록</a></li>
				<li><a th:href="@{/employee/list}">사원목록</a></li>
				<li><a th:href="@{/product/list}">제품목록</a></li>
	        </ul>
	    </nav>
	</div>

</header>