<p class="my_p" th:fragment="paging">
	<a th:if="${page_num} != 1" th:href="@{/guestbook/list?page_num=1}">[처음]</a>
	<a th:if="${page_num} >= 11" th:href="@{|/guestbook/list?page_num=${prev}|}">[이전]</a>
	
	<th:block th:each="page : ${#numbers.sequence(pg_start, pg_end)}">
		<th:block th:if="${page} <= ${page_total}">
			<a th:href="@{|/guestbook/list?page_num=${page}|}" th:text="|[${page}]|">[1]</a>
		</th:block>
	</th:block>
	
	<a th:if="${page_num} >= ${page_total}" th:href="@{|/guestbook/list?page_num=${pg_end}|}">[다음]</a>
	<a th:if="${page_num} != ${page_total}" th:href="@{|/guestbook/list?page_num=${page_total}|}">[끝]</a>
</p>