<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />
<body>
    <header class="header" th:include="fragments/menu :: menu" />
    <div class="boxMain">
        <h1>사원 추가</h1>
        <form th:action="@{/employee/saveEmployee}" method="post" enctype="multipart/form-data" th:object="${employeeBean}">
            <table>
                <tr>
                    <td class="c1">사원명</td>
                    <td><input type="text" id="name" th:field="*{name}" size="30"></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></td>
                </tr>
                
                <tr>
                    <td class="c1">사원 사진</td>
                    <td><input type="file" id="file" name="file"></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="c1">성별</td>
                    <td>
                        <select name="gender">
                            <option th:each="gd : ${T(com.oraclejava.homepage.dto.GenderType).values()}" 
                                th:value="${gd}" th:text="${gd}"></option>
                        </select>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td class="c1">생년월일</td>
                    <td><input type="date" id="birthday" th:field="*{birthday}"></td>
                    <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="error"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="등록"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>