<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>
<body>
    <h1>사원 목록</h1>
    <table>
        <tr th:each="emp : ${list}">
            <td>
                <img th:src="@{'/employee/display/' + ${emp.id}}" alt="" width="300">
            </td>
            <td>
                <table>
                    <tr>
                        <td>userid:</td>
                        <td th:text="${emp.id}"></td>
                    </tr>
                    <tr>
                        <td>이름:</td>
                        <td th:text="${emp.name}"></td>
                    </tr>
                    <tr>
                        <td>성별:</td>
                        <td th:text="${emp.gender}"></td>
                    </tr>
                    <tr>
                        <td>생년월일:</td>
                        <td th:text="${emp.birthday}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>