<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" />

<body>

<header class="header" th:include="fragments/menu :: menu" />

<script th:if="${msg} != null and ${msg} != '비밀번호 입력이 안되었거나 잘못된 비밀번호 입니다.'">
	alert("[[${msg}]]");
</script>

<script th:if="${msg} != null and ${msg} == '비밀번호 입력이 안되었거나 잘못된 비밀번호 입니다.'">
	alert("[[${msg}]]"); window.history.back();
</script>

<div class="boxMain">
	<div class="boxKisa">
		<h1 class="my_title">방명록입니다.</h1>
		<hr id="title">
		
		<a th:href="@{/guestbook}" class="my_link"><h2 class="my_subtitle">방명록 홈</h2></a>
		<a th:href="@{/guestbook/write}" class="my_link"><h2 class="my_subtitle">방명록 작성</h2></a>
		
		<div class="my_div" th:each="board : ${boardList}">
			<ul class="my_ul">
				<li th:text="|글번호 : ${board.no}|">글번호 : 1</li>
				<li th:text="|작성자 : ${board.name}|">작성자: 임형구</li>
				<li th:text="|내용 : ${board.content}|">내용: 송영길, 70대 유튜버에 망치 피습…한미훈련·종로 무공천 불만 추정</li>
				<li th:text="|등록일 : ${board.date}|">등록일: 2022-03-07</li>
				<li><a th:href="@{|/guestbook/update?no=${board.no}|}">[수정]</a><a th:href="@{|/guestbook/delete?no=${board.no}|}">[삭제]</a></li>
			</ul>
		</div>
		
		<div th:include="fragments/paging :: paging" />
		
	</div>
	<div class="boxSide">
        <div th:include="fragments/side :: side" />
    </div>
</div>

<div th:include="fragments/copyright :: copyright" />

</body>
</html>