<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/header :: header" />
<body>
    <header class="header" th:include="fragments/menu :: menu" />
    <div class="boxMain">
        <h1>Shopping mall</h1>
        <div>
            정렬순서
            <select name="sortorder" id="sortorder">
                <option th:each="op : ${priceItems}" th:value="${op.value}" th:text="${op.key}"></option>
            </select>
        </div>
        <table>
            <tr th:each="product : ${list}">
                <td>
                    <img th:src="@{'/product/display/' + ${product.id}}" alt="" width="200">
                </td>
                
                <td>
                    <dl>
                        <dt th:text="${product.name}"></dt>
                        <dd th:text="${product.description}"></dd>
                    </dl>
                </td>
            
                <td th:text="|${product.price}원|"></td>
                <td>
                    <input type="image" th:src="@{/img/R.png}" width="100" class="add_to_cart" th:data-id="${product.id}">
                </td>
            </tr>       
                  
        </table>
    </div>

    <script>
        $(function(){
            $("#sortorder").change(function(){
                const order = $(this).val();
                console.log(order);
                location.href = "[[@{|/shop?sortOrder=|}]]" + order;
            });

            $(".add_to_cart").click(function(){
                const id = $(this).data("id");
                console.log(id);
            });
        });
    </script>
</body>
</html>